<div class="container">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<div class="tg-loginarea">
			  <br>
			<div class="tg-bordertitle">
			<h3>Edita tus Datos</h3>
			</div>


			<%= render 'form', user: @user %>

			<%= link_to 'Show', @user %> 
			  <br>
		</div>
	</div>
</div>